body {
    margin: 0;
    padding: 0;

}

#queue-tasks {
    width: 20%;
}

.task {
    font-size: 2em;
    padding: 0.1em;
    text-align: center;
}

.important {
    background-color: #F6BB42;
}

.usual{
    background-color: #8CC152;
}

.critical {
    background-color: #DA4453;
}

.inwork {
    color: #FFF;
}

.done {
    background-color: #E6E9EE;
    color: #434A54;
}