body {
    margin: 0;
    padding: 0;

}

#wrapper {
    width:100%;
}

#queue-tasks {
    width: 20%;
    overflow: hidden;
    border: 10px #4FC1E9;
    display: inline-block;
}

#description {
    display: inline-block;
    width: 79%;
}

.task{

}



.important {
    background-color: #F6BB42;
}

.usual{
    background-color: #8CC152;
}

.critical {
    background-color: #DA4453;
}

.inwork {
    color: #FFF;
}

.done {
    background-color: #E6E9EE;
    color: #434A54;
}

.inline{

}

.menu-icon {
    vertical-align: middle;
    width: 1.8em;
}

.task-label {
    height:100%;
    width: 100%;
    font-size: 2em;
    text-align: center;
    display: inline-block;
    z-index: 1;

}

.slide-menu{
    position: absolute;
    display: none;
}


.task-info {
    width: 100%;
    font-size: 1em;
    text-align: center;
}