body {
    margin: 0;
    padding: 0;

}

#queue {

}


.task {
    font-size: 2em;
}

.important {
    background-color: #F6BB42;
}

.usual{
    background-color: #8CC152;
}

.critical {
    background-color: #DA4453;
}

.inwork {
    color: #FFF;
}